include LICENSE.txt
include README.md
exclude *~
include CHANGES.txt
include pyimgren/locale/*.po
exclude pyimgren/locale/*.pot
exclude pyimgren/locale/*/*/*.mo
prune docs
prune pyimgren.egg-info
global-exclude .*
